<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Usuario</title>
</head>
<body>
    <div class="princ">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/usuario">Usuario</a>
            </li>
            <li>
                <a href="/acerca">Acerca</a>
            </li>
        </ul>

        <main>
            <div class="contenedor">
                <form action="/usuario-login/?" method="GET">
                    <input class="caja" type="text" placeholder="Nombre" name="nombre" />
                    <input class="caja" type="password" placeholder="Contraseña" name="password" />
                    <input id="btn" type="submit" value="Enviar" />
                </form>
            </div>
        </main>
    </div>
</body>
</html>