<div id="container">
    <figure class="cara-container" > 
        <a routerLink="/">
            <img id="gato" src="../../../assets/img/gatoCara.png"/>
        </a> 
    </figure>
    
    <div id="bubble0">
        <p>Hola</p>
    </div>
    
    <figure class="personajes-container"> 
        <a routerLink="/vuelos">
            <img id="puerta" src="../../../assets/img/puerta.png"  /> 
        </a>
    </figure>
    
    <div id="bubble1">
        <p>Hola</p>
    </div>
    
    <figure class="personajes-container"> 
        <a>
            <img id="rosas" src="../../../assets/img/rosas.png" />
        </a> 
    </figure>
    
    <p id="bubble2"></p>
    
    <figure class="personajes-container"> 
        <a>
            <img id="alicia" src="../../../assets/img/alicia.png" />
        </a> 
    </figure>
    
    <p id="bubble3"></p>
    
    <figure class="personajes-container"> 
        <a>
            <img id="conejo" src="../../../assets/img/conejo.png" /> 
        </a>
    </figure>
    
    <p id="bubble4"></p>
    
    <figure class="personajes-container"> 
        <a routerLink="/hotelsl">
            <img id="sombrerero" src="../../../assets/img/sombrerero.png"/>
        </a> 
    </figure>
    
    <p id="bubble5"></p>
    
    <figure class="personajes-container"> 
        <a routerLink="/registro">
            <img id='absolem' src="../../../assets/img/absolem.png"/>
        </a> 
    </figure>
    
    <p id="bubble6"></p>
    
    <figure class="personajes-container"> 
        <a routerLink="/hotelrb">
            <img id='reinaBlanca' src="../../../assets/img/reinaBlanca.png" />
        </a> 
    </figure>
    
    <p id="bubble7"></p>
    
    <figure class="personajes-container"> 
        <a routerLink="/hotelrr">
            <img id='reinaRoja' src="../../../assets/img/reinaRoja.png"/> 
        </a>
    </figure>
    
    <p id="bubble8"></p>
</div>