<nav>
    <ul>
        <li>
            <a routerLink="/">Inicio</a>
        </li>
        <li>
            <a routerLink="/genero">Géneros</a>
        </li>
            <ul>
                <li>
                    <a routerLink="/rock">Rock</a>
                </li>
                <li>
                    <a routerLink="/regaae">Regaae</a>
                </li>
                <li>
                    <a routerLink="/pop">Pop</a>
                </li>
            </ul>
        <li>
            <a routerLink="/contacto">Contacto</a>
        </li>
    </ul>
</nav>